.dropdown-toggle::after {
    display: none;
}
body{
	background-color:#fbfbfb;
	/*background-color:gray;		/*testing*/
}

a{
	text-decoration: none;
}

.myBox{
	background-color:white;
	box-shadow: 0.1px 0.1px 1px grey, -0.1px -0.1px 1px #fbfbfb;
	/*box-shadow: 0.1px 0.1px 1px black, -0.1px -0.1px 1px black;*/
}
.myProfilePic>a{
	color:#ee007f;
	display:block;
}

.myEnterInfo label{
	margin-bottom:0px;
}
.myEnterInfo input{
	margin-bottom:0px;
	border:0px;
}
.myEnterInfo hr{
	width:70%;
	margin-top:5px;
}
.myEnterInfo hr,.myEnterInfo label{
	color:grey;
}
.mySave{
	background-color:#ee007f;
	border: 2px solid #ee007f;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 20px 0px 0px;
	cursor: pointer;
	border-radius: 7px;
}
.myCancel{
	color: #ee007f;
 	border: 2px solid #ee007f;
 	padding: 10px 30px;
 	border-radius:7px;
}

/*Cart.html sheet's styles*/
.myTopRight, .myTopRight>a{
	color:#ee007f;
	font-size:14px;
	text-decoration:none;
}
.myLGC{		/*My Light Grey Color*/
	color:#c0c0c0;
}
.myBC{	/*My Blue Color*/
	color:#00a3da;
}

.myCartBox3 span{
	font-weight: bold;
}

.myHrBwCartBox{
	width:1px;
	height:20px;
	padding:0 0.75%;
	color:transparent;
}

@media(min-width: 992px){
.myCartBox1, .myCartBox2, .myCartBox3{
	width:32.3333%;
}


}












